---

---

<section
  class="bg-cover bg-center bg-[url('/images/imagen3.jpg')] shadow-lg rounded-lg"
>
  <div class="flex flex-col justify-between h-full bg-slate-950/30 min-h-[500px] rounded-lg px-10 pb-10">
    <div>
      <div class="flex gap-2">
        <button
          class="flex-none flex items-center justify-center w-9 h-12 rounded-b-md rounded-br-md bg-green-400 text-gray-800"
          type="button"
          aria-label="hover"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
        </svg>        
        </button>

        <button
          class="flex-none flex items-center justify-center w-9 h-12 rounded-b-md rounded-br-md bg-green-400 text-gray-800"
          type="button"
          aria-label="hover"
        >
          <svg width="20" height="20" fill="none" stroke="#FFF" aria-hidden="true">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- TEXTOS -->
    <div>
      <div>
        <h1 class="text-4xl max-w-[12ch] text-slate-50 font-bold">
          Spider-Man: No Way Home
        </h1>
        <p class="text-pretty text-slate-50 font-bold">
          Action, Adventure,fantasy
        </p>
      </div>
      <button
        type="button"
        class="text-white mt-4 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-14 py-2.5 text-center me-2 mb-2"
        >
          Watch Now
        </button>
    </div>
  </div>
</section>
