---

---
<div class="px-4 py-5 flex flex-col gap-6 bg-[#1f2937]">
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-medium text-white">Continue Watching</h1>
      <div class="flex gap-4 items-center">
        <button class="text-zinc-200/50 p-2 border border-zinc-900/50 rounded shadow shadow-zinc-600/50 bg-slate-700 hover:bg-slate-200 hover:text-slate-900 transition-all duration-200">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
        </button>
        <button class="text-zinc-200/50 p-2 border border-zinc-900/50 rounded shadow shadow-zinc-600/50 bg-slate-700 hover:bg-slate-200 hover:text-slate-900 transition-all duration-200">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-6">
      <article
        class="bg-[url('https://es.digitaltrends.com/wp-content/uploads/2021/07/turning-red-pixar.jpeg?p=1')] h-[300px] bg-no-repeat bg-cover rounded-lg flex flex-col justify-between items-end"
      >
        <div class="flex gap-1 p-1 bg-[#666666] rounded-md m-2">
          <img
            src="https://img.icons8.com/?size=100&id=8ggStxqyboK5&format=png&color=000000"
            alt="estrella"
            class="w-5 h-5"
          />
          <p class="text-white font-bold text-sm">4.5</p>
        </div>
        <div
          class="px-4 py-2 backdrop-blur bg-[#666666]/30 w-full flex items-center rounded-bl-lg rounded-br-lg"
        >
        <button class="bg-green-600 text-zinc-200/50 p-2 border border-zinc-900/50 rounded-lg shadow shadow-zinc-600/50 hover:bg-green-800 hover:text-slate-900 me-4 transition-all duration-200">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="#000000" xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path d="M6.90588 4.53682C6.50592 4.2998 6 4.58808 6 5.05299V18.947C6 19.4119 6.50592 19.7002 6.90588 19.4632L18.629 12.5162C19.0211 12.2838 19.0211 11.7162 18.629 11.4838L6.90588 4.53682Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>
  
          <div class="flex flex-col flex-1">
            <div class="flex justify-between items-center">
              <h2 class="text-white text-lg text-bold">Turning Red</h2>
              <p class="flex gap-1 text-white text-sm text-bold">
                <span class="text-[#28b463]">1:10:58</span>/ <span>2:24:11</span>
              </p>
            </div>
            <div class="relative bg-white/30">
              <div
                class="w-1/2 h-1 bg-[#28b463] relative before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:right-0 before:bg-white before:w-2 before:h-2 before:rounded-full"
              >
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        class="bg-[url('https://vidayestilo.mx/wp-content/uploads/2021/11/Portada.png')] h-[300px] bg-no-repeat bg-cover rounded-lg flex flex-col justify-between items-end"
      >
        <div class="flex gap-1 p-1 bg-[#666666] rounded-md m-2">
          <img
            src="https://img.icons8.com/?size=100&id=8ggStxqyboK5&format=png&color=000000"
            alt="estrella"
            class="w-5 h-5"
          />
          <p class="text-white font-bold text-sm">4.9</p>
        </div>
        <div
          class="px-4 py-2 backdrop-blur bg-[#666666]/30 w-full flex items-center rounded-bl-lg rounded-br-lg"
        >
         <button class="bg-green-600 text-zinc-200/50 p-2 border border-zinc-900/50 rounded-lg shadow shadow-zinc-600/50 hover:bg-green-800 hover:text-slate-900 me-4 transition-all duration-200">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="#000000" xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path d="M6.90588 4.53682C6.50592 4.2998 6 4.58808 6 5.05299V18.947C6 19.4119 6.50592 19.7002 6.90588 19.4632L18.629 12.5162C19.0211 12.2838 19.0211 11.7162 18.629 11.4838L6.90588 4.53682Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>
  
  
          <div class="flex flex-col flex-1">
            <div class="flex justify-between items-center">
              <h2 class="text-white text-lg text-bold">Encanto</h2>
              <p class="flex gap-1 text-white text-sm text-bold">
                <span class="text-[#28b463]">15:58</span>/ <span>2:24:11</span>
              </p>
            </div>
            <div class="relative bg-white/30">
              <div
                class="w-1/4 h-1 bg-[#28b463] relative before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:right-0 before:bg-white before:w-2 before:h-2 before:rounded-full"
              >
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>